<div class="container">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a
        class="nav-link active"
        href="https://www.linkedin.com/in/aivascu/"
        target="_blank"
        >LinkedIn</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="tel:07521663265">Call Alex</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="mailto:alexiulianivascu@gmail.com"
        target="_blank"
        >Email Alex</a
      >
    </li>
  </ul>
</div>

<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
