


<div class="container">
      <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" href="https://www.linkedin.com/in/aivascu/" target="_blank">LinkedIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tel:07521663265">Call Alex</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:alexiulianivascu@gmail.com" target="_blank">Email Alex</a>
          </li>
        </ul>
      </div>
      <header>
        <h1 class="animated zoomInUp">Alex.I.web.more</h1>
      </header>


      <div class="container-fluid">
        <div class="col-md-12">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="125" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy="0.1em">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">This is where the text will go.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Button 1</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Button 2</button>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>